* {
    font-family: sans-serif;
    font-weight: normal;
}

body {
    background: linear-gradient(to right, rgba(217,100,100,1) 20%, rgba(155,103,205,1) 100%);
    background-attachment: fixed;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator__button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: #fffa;
}

.calculator__button:hover {
    background-color: #fff;
}

.calculator__button--spanTwo {
    grid-column: span 2;
}

.calculator__output {
    grid-column: 1 / 5;
    background-color: #000;
    border: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__previous-operand {
    color: #fffa;
    font-size: 1.5rem;
}

.calculator__current-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 2.5rem;
}
