* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    background:  #0d1117;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-grid {
    height: max-content;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 4px;
    padding: 4px;
    border: 1px solid #89929b;
    border-radius: 7px;
    background-color: #161b22;
}

.calculator__button {
    cursor: pointer;
    color: #c6cdd5;
    font-size: 2rem;
    border: 1px solid #89929b;
    border-radius: 7px;
    background-color: #161b22;
    transition: all 0.6s ease;
}

.calculator__button:hover {
    color: #4A98F7;
    border: 1px solid #4A98F7;
}

.calculator__button--spanTwo {
    grid-column: span 2;
}

.calculator__output {
    grid-column: 1 / 5;
    background-color: #000;
    border: 1px solid #89929b;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__previous-operand {
    color: #fffa;
    font-size: 1.5rem;
}

.calculator__current-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #4A98F7;
    font-size: 2.5rem;
}

.button__equals {
    position: relative;
    background-color: #4A98F7;
    border: 1px solid #4A98F7;
    color: #161b22;
    font-weight: bold;
    font-size: 3rem;

}

.button__equals:hover {
    box-shadow: 0 0 3px 1px #2A68FB;
    text-shadow: 3px 3px 20px #2a68fb;
    color: #161b22;
}